.relators {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  row-gap: 3rem;

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    column-gap: 2rem;
    row-gap: 3.5rem;
  }

  &__img {
    height: 7rem;
    display: block;
    border-radius: 50%;
  }

  &__details {
  }

  &__sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
  }
}
